<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <!-- <img src="/app/static/img/greenmile.png" alt="logo"> -->
                    <h1>The Greenmile Company</h1>
                    <h6>Welcome to our official website! Greenmile is a company</h6>
                    <h6>that strives at protecting the environment against harmful automobile byproducts</h6>
                    <h6>like smoke, and hence have devised a way of enabling delivery of goods to be done in </h6>
                    <h6>an environmentally friendly way.</h6>
                    <h6>Give us a try today!</h6>


                    


                <!-- <div class="container">   -->
                    <form id="contact" action="http://localhost:5000/result" method="POST">
                      <h3>Track Your Package Here</h3>
                      
                      
                        <input placeholder="Tracking Number" type="text" tabindex="1" >
                      
                      <br>
                      <br>
                            <button type="submit"  >Submit</button>
                        
                    </form>
                  <!-- </div> -->

                  <!-- <hr class="intro-divider"> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}