<!-- app/templates/home/admin_dashboard.html -->

{% extends "loaderbase.html" %}
{% block title %}Loader Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome Home, Loader!</h1>
                    <h5>This is your space to view all packages </h5>
                    <h5>That have been assigned to you today. </h5>
                    <h5>To view all the packages that have been assigned to you, </h5>
                    <h5>Click on the VIEW PACKAGES button on the menu above.</h5>


                    <!-- <hr class="intro-divider"> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}