<!-- app/templates/home/admin_dashboard.html -->

{% extends "supplierbase.html" %}
{% block title %}Supplier Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome Home, Supplier!</h1>
                    <h5>This is your space to add any packages that you may have today.</h5>
                    
                    <h5>To add any packages that you may have, </h5>
                    <h5>Click on the PACKAGES button on the menu above.</h5>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}